body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
}

header {
  background-color: #0088cc;
  color: white;
  padding: 20px;
  text-align: center;
}

footer {
  margin-top: 50px;
  text-align: center;
  color: #777;
}
